.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-color: #fff1f7;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #000028;
  }
}

.theme-dark .page {
  background-color: #000028;
}

.theme-light .page {
  background-color: #fff1f7;
}

.page.theme-light .decorative__element,
.page:not(.theme-dark) .decorative__element {
  display: none;
}

.page.theme-dark .decorative__element,
.page:not(.theme-light) .decorative__element {
  display: flex;
}

.section {
  padding-block: 60px;
  margin: 0 20px;
}

.section__title {
  color: var(--btn-color); 
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
  margin-block-end: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  margin-block-end: 10px;
}

.card__subtitle {
  margin-block-end: 10px;
  font-weight: 400;
}

.card__text {
  font-size: var(--font-size);
  color: var(--text-color);
}

.card__text + .card__text {
  margin-top: 10px;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  border: 1px solid var(--text-color);
}

.card__content {
  margin-block-end: 20px;
}

.card__content:last-child {
  margin-block-end: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-container--stack {
  gap: 20px;
}

.image-section {
  padding-block-end: 60px;
}

.image-section__title {
  margin: 0 20px 20px 20px;
}

.image-section__container {
  margin: 0 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.image-section__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image-section__item:first-of-type {
  grid-column: span 2;
}

.image-section__item:nth-of-type(2) {
  grid-row: span 2;
}

.image-section__item:nth-of-type(3) {
  grid-row: span 2;
}

.image-section__item:nth-of-type(4) {
  grid-column: 2;
}

.image-section__item:last-of-type {
  grid-column: span 2;
}

.header {
  min-block-size: 668px;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 100vh;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  color: var(--btn-color);
  text-align: center;
  border: none;
  background: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 50, 50, 0.4);
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 110, 0.4);
}

.header__theme-menu-button:hover {
  cursor: pointer;
}

.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.header__title {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.header__text {
  max-inline-size: 490px;
  justify-self: end;
  align-self: center;
}

.footer {
  min-block-size: 668px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 83%;
}

@media (min-width: 1024px) {
  .section--why {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

  .section--how {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

  .section__title--what {
    max-width: 315px;
    margin-bottom: 20px;
  }

  .card-grid--three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 561px) and (max-width: 1023px) {
  .section {
    padding-block: 60px;
  }

  .section--why {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    padding-block-start: 60px;
  }

  .section--how {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    padding-block-end: 80px;
  }

  .section__title--what {
    max-width: 236px;
    margin-bottom: 20px;
  }

  .card-grid--three {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    max-width: 364px;
  }

  .image-section__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 560px) {
  .section {
    margin: 0 10px;
    padding-block: 40px;
  }

  .section--why {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 40px;
  }

  .section--how {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-end: 50px;
  }

  .section__title--what {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card-grid--three {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image-section {
    padding-block-end: 40px;
  }

  .image-section__title {
    margin: 0 10px 10px 10px;
  }

  .image-section__container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header {
    padding: 10px;
    min-height: 100vh;
  }

  .header__title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-width: 100%;
  }

  .footer {
    padding: 10px;
    min-height: 100vh;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }
  
  .frame::before {
    margin: 10px;
  }
  
  .frame::after {
    margin: 10px;
  }
}